<div class="content">



  <a href="/eateries/new" class="button">Create new eatery</a>

  <br>
  <h2>All Eateries</h2>
  <br>

  <div class="session-message">
    <% if @message %>
    <p><%= @message %></p>
    <% end %>
  </div>

    <% @eateries.each do |eatery| %>
    <div class="eatery-container">
       <div class="eatery-details"> <span class="eatery-header-text"> Eatery name: </span> <%= eatery.name%></div>
      <div class="eatery-details">  <span class="eatery-header-text">Location: </span><%= eatery.location%> </div>
      <div class="eatery-details"> <span class="eatery-header-text">Eatery details:</span> <a href="/eateries/<%= eatery.id %>">Eatery Details</a></div>
    </div>
  <% end %>


</div>
